@model DoAnWeb.Models.Staff_

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/View_layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Staff_</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.staffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staffPhotoLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffPhotoLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_movie.movieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_movie.movieName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
