@model DoAnWeb.Models.C_movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/View_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>C_movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.movieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movieContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movieContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.premiereDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.premiereDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moviePhotoLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moviePhotoLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banerLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banerLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trailerLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trailerLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.categoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.movieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
